<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SFSTATE-AI-BUDDY</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    
  </head>

  <body>
    <div class="container-fluid border completepage">
      <div class="container border head" >
        <h2>header</h2>
      </div>
      <div class="container row border landingpage_firstsection">
        <div class="container col border landingpage_leftsection">
          <div class="container logo">
            <img> 
            <h4>SFStateAI</h>
          </div>
          <div class="container heading">
            <h2>AI-Powered College Companion</h2>
          </div>
          <div class="container subheading">
            <h3>The Chatbot Every Student Wishes They Had</h3>
          </div>
          <div class="container loginbox"></div>
        </div>
        <div class="container col border landingpage_rightsection">
          <h3>{{greetings}}</h3>
          <h3>{{chat_history}}</h3>
        </div>
      </div>
    </div>
  </body>
  <!-- <script src="index.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>


</html>